</div>
<div class="footer-padding"></div>
  <div class="footer">

    <!-- <p>Welcome to Sparks bank</p> -->
    <p>© Copyright 2021 Utkarsh Choudhary</p>

  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
