<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>sparks Bank</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Ubuntu:ital@1&display=swap" rel="stylesheet">
    <nav class="navbar navbar-default">
    <div class="container nn">
      <div class="navbar-header">
        <p class="navbar-brand"> <i class="fas fa-landmark fa-2x"></i> SPARKS BANK</p>
      </div>
        <ul class="nav navbar-nav navbar-right">

          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/users">USERS</a></li>
          <li id="contact"><a href="/transaction">TRANSACTION HISTORY</a></li>
        </ul>
    </div>
  </nav>
  <!-- <nav class="navbar ll navbar-expand-lg navbar-dark">
   <a class="navbar-brand" href=""><i class="fas fa-landmark fa-2x"></i> SPARKS BANK</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav ml-auto">
       <li class="nav-item">
           <a class="nav-link" href="/">HOME</a>
       </li>
       <li class="nav-item">
           <a class="nav-link" href="/users">USERS</a>
       </li>
       <li class="nav-item">
           <a class="nav-link" href="/transaction">TRANSACTION HISTORY</a>
       </li>
   </ul>
</div>
</nav> -->
  <body>
    <div class="container-fluid home">
